<head>
  <link rel="stylesheet" href="app.component.css">
</head>
<!-- Toolbar -->
<!--<div>
  <app-toolbar></app-toolbar>
</div>-->



<mat-toolbar color="primary" class="toolbarcomp">
  <div class="spacer"></div>
  <button mat-raised-button color="primary">Gnv</button>
 <button mat-raised-button color="primary" (click)="onPresslogin()">Login</button>
 <button mat-raised-button color="primary" (click)="onPresssignup()">Signup</button>

</mat-toolbar>

<div id="comp-render" *ngIf="displaylogin">
  <app-loginform></app-loginform>
</div>

<div id="comp-render" *ngIf="displaysignup">
  <app-createuserform></app-createuserform>
</div>

<!-- Logo bar -->
<div>
  <app-logobar></app-logobar>
</div>
<!-- Nav bar -->
<div>
  <app-navbar></app-navbar>
</div>

<!-- Advertisements -->
<div>
  <app-advertisements></app-advertisements>
</div>


<!-- View Post -->
<!--<div>
  <app-viewpost></app-viewpost>
</div>
-->
<!-- Create Post -->
<!--<div>
  <app-formpost></app-formpost>

 </div>-->

 
<!-- LoginForm

<div>
  <app-loginform></app-loginform>

 </div>
Create USER form -->
<!-- <div>
  <app-createuserform></app-createuserform>
</div> -->