<button button mat-raised-button color="primary" (click)="open(mymodal)">Create a Post!</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
<div class="modal-body">
<form [formGroup]="profileForm" class="form-container">

  <mat-card>
      <mat-card-header>
        <mat-card-title class="formtitle"><span>Create a Post!</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
        <mat-card-header>

          <mat-card-title  id="header1"><span>Posting Information</span></mat-card-title>
        </mat-card-header>
        
      
        <div class="row">
          <!-- <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="firstName" matInput placeholder="First name">
            </mat-form-field>
          </div> -->
            <mat-label>Title</mat-label>

            <mat-form-field class="full-width" appearance="fill">

              <input  formControlName="Title"matInput placeholder="Give an appropriate title for the posting">
            </mat-form-field>
            <mat-label>Location</mat-label>
            <!-- <mat-form-field class="full-width" > -->
                <!-- <input  formControlName="Location" matInput placeholder="Location" class="full-width"> -->
                
                <select id="location" class="full-width">

                <!-- <ng-container *ngFor="let local of allLocations"> -->
                <option [value]="local" *ngFor="let local of allLocations">
                    {{local.locationName}}
                </option>
                <!-- </ng-container> -->
                </select>
            <!-- </mat-form-field> -->

            <!-- <mat-label>Category</mat-label>
            <mat-form-field appearance="fill" class="full-width">
                <input  formControlName="Category" matInput placeholder="Tell us what you are posting">
                <mat-select >

                <ng-container *ngFor="let category of mainGroups">
                <mat-option [value]="category" [(ngModel)]="mainCategory">
                    {{category.title}}
                </mat-option>
                
                </ng-container>
              </mat-select>
              {{mainCategory.title | json}}
            </mat-form-field>
            <mat-label>Sub Category</mat-label>
          <mat-form-field appearance="fill" class="full-width">
              <input  formControlName="SubCategory" id="SubCategory" matInput placeholder="List further details">
              
              <mat-select [(ngModel)] = "mainSubcategory">
                
              <ng-container *ngFor="let subcategory of filterSubById(mainCategory.Id)">
              <mat-option [value]="subcategory"  >
                  {{subcategory.title}}
              </mat-option>
              </ng-container>
              </mat-select>
          </mat-form-field> -->
          <!-- Category -->
        <mat-label>Category</mat-label>
        
         <select class="full-width" (change) = "selectChangeHandler($event)">
            <option disabled [ngValue]="null">-/-</option>
            
            <option [ngValue]="category" *ngFor="let category of mainGroups">{{category.title}}</option>
              
          </select>
       
          
        
        <mat-label>Sub Category</mat-label>
         <select appearance="fill" class="full-width" >
          <option [ngValue]="subcategory" *ngFor="let subcategory of filterSubById()">{{subcategory.title}}</option>
        </select>
        
        
      
          <mat-label>Price</mat-label>
        
            <mat-form-field class="full-width" appearance="fill">

              <input  formControlName="Price"matInput placeholder="Add the price">
          </mat-form-field>
          

          <mat-label>Image</mat-label>

          <p><span>Upload images related to your posting</span></p>
          <div class="image">
            <app-upload-files></app-upload-files>
          </div>
          
          <div class="col-md-6" class="full-width">
<!--            <mat-form-field class="full-width">-->
<!--              <input  formControlName="Compensation" matInput placeholder="Compensation">-->
<!--            </mat-form-field>-->
          <mat-card-header>

            <mat-card-title>Personal Information</mat-card-title>
          </mat-card-header>
          </div>


          <mat-label>Select atleast one option through which you can be contacted
          </mat-label>
          <mat-form-field class="full-width" appearance="fill">
            <input formControlName="email" matInput placeholder="Email" type = email>
          </mat-form-field>


          <mat-form-field class="full-width" appearance="fill">
            <input formControlName="PhoneNo" matInput placeholder="PhoneNo" type = number>
          </mat-form-field>

        </div>
        
      </mat-card-content>
      <mat-card-actions>
        <!-- <button (click)="createPost()" mat-raised-button color="primary">Save</button> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div> 
      </mat-card-actions>
    </mat-card>
  </form>
  </div>
  
</ng-template>
