<button button mat-raised-button color="primary" (click)="open(mymodal)">Create a Post!</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm" class="form-container">

      <mat-card>
        <mat-card-header>
          <mat-card-title class="formtitle"><span>Create a Post!</span></mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-card-header>

            <mat-card-title id="header1"><span>Posting Information</span></mat-card-title>
          </mat-card-header>


          <div class="row">
            <mat-label>Title</mat-label>

            <mat-form-field class="full-width" appearance="fill">

              <input formControlName="Title" matInput placeholder="Give an appropriate title for the posting"
                     (change)="getTitle($event)" ngModel required>

            </mat-form-field>
            <mat-label>Location</mat-label>

            <select formControlName="Location" id="location" class="full-width" [(ngModel)]="selectedLocation" required>

              <option [ngValue]="local" *ngFor="let local of locations">
                {{local.Name}}
              </option>
            </select>

            <mat-label>Category</mat-label>

            <select formControlName="Category" class="full-width" [(ngModel)]="selectedCategory"
                    (change)="selectChangeHandler($event)" required>

              <option [ngValue]="category" *ngFor="let category of categories">{{category.Name}}</option>

            </select>


            <mat-label>Subcategory</mat-label>
            <select formControlName="SubCategory" appearance="fill" class="full-width"  [(ngModel)]="selectedSubcategory" required>
              <option [ngValue]="subcategory" *ngFor="let subcategory of subcategories">{{subcategory.Name}}</option>
            </select>


            <mat-label>Price</mat-label>

            <mat-form-field class="full-width" appearance="fill">

              <input formControlName="Price" matInput required>
            </mat-form-field>

            <mat-label>Description</mat-label>
            <mat-form-field class="full-width" appearance="fill" required>
              <textarea formControlName="Description" matInput></textarea>
            </mat-form-field>


            <mat-label>Image</mat-label>

            <p><span>Upload images related to your posting</span></p>
            <div class="image">
              <app-upload-files></app-upload-files>
            </div>

            <div class="col-md-6" class="full-width">
              <mat-card-header>

                <mat-card-title>Personal Information</mat-card-title>
              </mat-card-header>
            </div>


            <mat-label>Select atleast one option through which you can be contacted
            </mat-label>
            <mat-form-field class="full-width" appearance="fill">
              <input formControlName="Email" matInput placeholder="Email" type=email>
            </mat-form-field>


            <mat-form-field class="full-width" appearance="fill">
              <input formControlName="PhoneNo" matInput placeholder="PhoneNo" type=number>
            </mat-form-field>

          </div>


        </mat-card-content>
        <mat-card-actions>
          <div class="modal-footer">
            <button type="submit" [disabled]="!profileForm.valid" class="btn btn-outline-dark" (click)="createPost()">Save</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

</ng-template>
