.spacer {
    flex: 1;
  }
  .example-form {
    min-width:80px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
  .logo{
      height: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
  }
  .search-field{
      float: right;
      
     
  }
  .logobar{
     background-color: #f9cf00;
  }
  .center {
    margin: auto;
    width: 100%;
  }