.spacer {
    flex: 1;
  }
    .logo{
      height: 15%;
      width: 25%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
  }

  .logobar{
     background-color: #f9cf00;
  }
 