<div class="modal-body">
    <form class="form-container">
  
      <mat-card>
        <mat-card-header>
          <mat-card-title class="formtitle"><span>User Profile</span></mat-card-title>
        </mat-card-header>
       
        <div class="form-group">
            <label for="email">Email of the User</label>
                <p><b>{{user.Contact.Email}}</b></p>
            <label for="Name">First Name of the User</label>
                <p><b>{{user.Contact.FirstName}}</b></p>
            <label for="Name">Last Name of the User</label>
                <p><b>{{user.Contact.LastName}}</b></p>
              
            
        </div>
      </mat-card>
    </form>
  </div>
  
  