<div class="viewpost center">
  <div *ngFor="let item of post;">
  <mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="view-post-image"></div>
        <mat-card-title>{{item.Title}}</mat-card-title>
        <mat-card-subtitle>Posted on {{item.CreatedAt}}</mat-card-subtitle>
    </mat-card-header>
<!--    <img mat-card-image class="card-image" src="assets/images/image.jpeg" alt="House Image" height="600px">-->
    <mat-card-content class="card-content">
      <p>
        {{item.Description}}
      </p>
    </mat-card-content>
    <p>Categories : <span><button mat-button>Housing</button>
        <button mat-button>Renting</button>
        <button mat-button>Apartments</button></span>
    </p>
    <mat-card-actions class="center">
      <button mat-button class="card-button">INFO</button>
      <button mat-button class="card-button">SHARE</button>
      <button mat-button class="card-button">CONTACT</button>
      <button mat-button class="card-button">FLAG</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
