

<mat-toolbar color="primary">
    <div class="spacer"></div>
    <button mat-button [matMenuTriggerFor]="communitymenu" class="menu-button">Community</button>
    <mat-menu #communitymenu="matMenu">
      <button mat-menu-item>Automotive</button>
      <button mat-menu-item>Beauty</button>
      <button mat-menu-item>Computer</button>
      <button mat-menu-item>Household</button>
      <button mat-menu-item>Creative</button>
      <button mat-menu-item>Cycle</button>
      <button mat-menu-item>Event</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="housingmenu" class="menu-button">Housing</button>
    <mat-menu #housingmenu="matMenu">
      <button mat-menu-item>Household</button>
      <button mat-menu-item>Creative</button>
      <button mat-menu-item>Cycle</button>
      <button mat-menu-item>Event</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="jobsmenu" class="menu-button">Jobs</button>
    <mat-menu #jobsmenu="matMenu">
        <button mat-menu-item>Automotive</button>
        <button mat-menu-item>Beauty</button>
        <button mat-menu-item>Computer</button>
        <button mat-menu-item>Cycle</button>
        <button mat-menu-item>Event</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="servicesmenu" class="menu-button">Services</button>
    <mat-menu #servicesmenu="matMenu">
        <button mat-menu-item>Automotive</button>
        <button mat-menu-item>Beauty</button>
        <button mat-menu-item>Computer</button>
        <button mat-menu-item>Household</button>
        <button mat-menu-item>Creative</button>
        <button mat-menu-item>Cycle</button>
        <button mat-menu-item>Event</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="forumsmenu" class="menu-button">Forums</button>
    <mat-menu #forumsmenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Automotive</button>
      <button mat-menu-item>Beauty</button>
      <button mat-menu-item>Computer</button>
      <button mat-menu-item>Household</button>
      <button mat-menu-item>Creative</button>
      <button mat-menu-item>Cycle</button>
      <button mat-menu-item>Event</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="gigsmenu" class="menu-button">Gigs</button>
    <mat-menu #gigsmenu="matMenu">
        <button mat-menu-item>Automotive</button>
        <button mat-menu-item>Cycle</button>
        <button mat-menu-item>Event</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="forsalemenu" class="menu-button">For Sale</button>
    <mat-menu #forsalemenu="matMenu">
      <button mat-menu-item>Automotive</button>
      <button mat-menu-item>Beauty</button>
      <button mat-menu-item>Computer</button>
      <button mat-menu-item>Household</button>
      <button mat-menu-item>Creative</button>
      <button mat-menu-item>Cycle</button>
      <button mat-menu-item>Event</button>
      <button mat-menu-item>Automotive</button>
      <button mat-menu-item>Beauty</button>
      <button mat-menu-item>Computer</button>
      <button mat-menu-item>Household</button>
    </mat-menu>
</mat-toolbar>