<mat-toolbar color="primary">
  <div *ngFor="let item of categories;index as i">
    <button  mat-button [matMenuTriggerFor]="housingmenu" class="menu-button">{{item.Name}}</button>
    <mat-menu #housingmenu="matMenu">
      <div *ngIf="categorySubMap.get(i + 1); let subs">
        <div *ngFor="let subcategory of subs;">

          <!--      <button mat-menu-item routerLink="/grid">Household</button>-->
          <!--      <button mat-menu-item>Creative</button>-->
          <!--      <button mat-menu-item>Cycle</button>-->
          <!--      <button mat-menu-item>Event</button>-->
          <button mat-menu-item  routerLink="/view/subcategory/{{subcategory.SubcategoryId}}">{{subcategory.Name}}</button>
        </div>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
