<!--<div class="form-container">
<form>
    <mat-card class="cardcontainer">
        <mat-card-header class="cardheader">
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <input  formControlName="Email" matInput placeholder="Email" required>
          </mat-form-field><br>
          <mat-form-field class="full-width">
            <input type="password" formControlName="Password" matInput placeholder="Password" required>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="modal.close('Save click')>Login</button>
          </mat-card-actions>
    </mat-card-content>
</mat-card>
</form>
</div>-->



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" id="close" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">


      <div class="form-group">
          <label for="email">Email</label>
          <input
              formControlName="email"
              id="email"
              type="text"
              class="form-control">
          <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
              <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
              <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
          </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
            formControlName="password"
            id="password"
            type="password"
            class="form-control">
        <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
            <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
            <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Password should be at least 8 characters.</div>
        </div>
    </div>

      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isFormSubmitted && isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>
      <button id="submit" class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>

  </form>
  </div>
</ng-template>

<button button mat-raised-button color="primary" (click)="open(content)">Login</button>

<hr>
