<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <mat-tab-group class="login">
      <mat-tab>
        <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && submit()"
          #f="ngForm"
          novalidate>
          <ng-template mat-tab-label>
            Login
          </ng-template>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              required
              email
              #email="ngModel"
            />
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']">Email is required</div>
              <div *ngIf="email.errors['email']">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              #password="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="password.errors && f.submitted"
            >
              <div *ngIf="password.errors['required']">Password is required</div>
              <!--          <div *ngIf="password.errors['minlength']">-->
              <!--            Password must be at least 6 characters-->
              <!--          </div>-->
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block">
              Login
            </button>
          </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
      </mat-tab>

      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in!
      </div>
      <div class="col-md-12">
        <div class="card card-container">
          <img
            id="profile-img2"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
          />

          <mat-tab>
            <form
              *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && signup()"
              #f="ngForm"
              novalidate
            >
              <ng-template mat-tab-label>
                Register
              </ng-template>
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="firstname"
                  [(ngModel)]="form.firstname"
                  required
                  #firstname="ngModel"
                />
                <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
                  <div *ngIf="firstname.errors['required']">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="lastname"
                  [(ngModel)]="form.lastname"
                  required
                  #lastname="ngModel"
                />
                <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
                  <div *ngIf="lastname.errors['required']">Last Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="form.email"
                  required
                  email
                  #email="ngModel"
                />
                <div class="alert-danger" *ngIf="email.errors && f.submitted">
                  <div *ngIf="email.errors['required']">Email is required</div>
                  <div *ngIf="email.errors['email']">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  minlength="6"
                  #password="ngModel"
                />
                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                  <div *ngIf="password.errors['required']">Password is required</div>
                  <div *ngIf="password.errors['minlength']">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">Sign Up</button>
              </div>

              <div class="alert alert-warning" *ngIf="f.submitted && isSignupFailed">
                Signup failed!<br/>{{ errorMessage }}
              </div>
            </form>
          </mat-tab>

          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
        </div>
      </div>
    </mat-tab-group>

  </div>
</div>
