<!--<div class="createuserform-container">
    <form>
        <mat-card class="cardcontainer">
            <mat-card-header class="cardheader">
                <mat-card-title>Create User</mat-card-title>
            </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input  formControlName="FirstName" matInput placeholder="FirstName" required>
              </mat-form-field><br>
              <mat-form-field class="full-width">
                <input  formControlName="LastName" matInput placeholder="LastName" required>
              </mat-form-field><br>
              <mat-form-field class="full-width">
                <input  formControlName="Email" matInput placeholder="Email" required>
              </mat-form-field><br>
              <mat-form-field class="full-width">
                <input type="password" formControlName="Password" matInput placeholder="Password" required>
              </mat-form-field>
              <mat-card-actions>
                <button mat-raised-button color="primary">Create</button>
              </mat-card-actions>
        </mat-card-content>
    </mat-card>
    </form>
    </div>-->

    <div class="createuserform-container">
      <ng-template #content let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Sign up</h4>
          <button type="button" id="signupclose" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input
                  formControlName="firstname"
                  id="firstname"
                  type="text"
                  class="form-control">
              <div *ngIf="f['firstname'].touched && f['firstname'].invalid" class="alert alert-danger">
                  <div *ngIf="f['firstname'].errors && f['firstname'].errors['required']">  First Name is required.</div>
                  <div *ngIf="f['firstname'].errors && f['firstname'].errors['minlength']">First Name should be at least 3 characters long.</div>
              </div>
          </div>

          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
                formControlName="lastname"
                id="lastname"
                type="text"
                class="form-control">
            <div *ngIf="f['lastname'].touched && f['lastname'].invalid" class="alert alert-danger">
                <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']">Last Name is required.</div>
                <div *ngIf="f['lastname'].errors && f['lastname'].errors['minlength']">Last Name should be at least 3 characters long.</div>
            </div>
        </div>


            <div class="form-group">
                <label for="email">Email</label>
                <input
                    formControlName="email"
                    id="useremail"
                    type="text"
                    class="form-control">
                <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['email']">Enter valid email address.</div>
                </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                  formControlName="password"
                  id="userpassword"
                  type="password"
                  class="form-control">
              <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                  <div *ngIf="f['password'].errors && f['password'].errors['required']">  Password is required.</div>
                  <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Password should be 8 character.</div>
              </div>
          </div>


            <button class="btn btn-primary" id="signupsubmit" [disabled]="form.invalid" type="submit">Submit</button>
        </form>
        </div>
      </ng-template>

      <button button mat-raised-button color="primary" (click)="open(content)">Sign up</button>

      <hr>
    </div>
