<!--<div class="createuserform-container">
    <form>
        <mat-card class="cardcontainer">
            <mat-card-header class="cardheader">
                <mat-card-title>Create User</mat-card-title>
            </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input  formControlName="FirstName" matInput placeholder="FirstName" required>
              </mat-form-field><br>
              <mat-form-field class="full-width">
                <input  formControlName="LastName" matInput placeholder="LastName" required>
              </mat-form-field><br>
              <mat-form-field class="full-width">
                <input  formControlName="Email" matInput placeholder="Email" required>
              </mat-form-field><br>
              <mat-form-field class="full-width">
                <input type="password" formControlName="Password" matInput placeholder="Password" required>
              </mat-form-field>
              <mat-card-actions>
                <button mat-raised-button color="primary">Create</button>
              </mat-card-actions>
        </mat-card-content>
    </mat-card>
    </form>
    </div>-->

    <div class="createuserform-container">
      <ng-template #content let-modal>
     
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Sign up</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <div class="input-group">
                <input id="FirstName" class="form-control" placeholder="First Name" name="firstname" required>
         
              </div>
             <br><br>
             <div class="input-group">
              <input id="LastName" class="form-control" placeholder="Last Name" name="lastname" required>
       
            </div>
           <br><br>
              <div class="input-group">
                <input id="userEmail" class="form-control" placeholder="Email" name="email" required>
         
              </div>
             <br><br>
              <div class="input-group">
      
                <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"  button mat-raised-button color="primary" (click)="modal.close('Save click')">Sign up</button>
        </div>
      </ng-template>
      
      <button button mat-raised-button color="primary" (click)="open(content)">Sign up</button>
      
      <hr>
    </div>