.cardcontainer{
    height: 30%;
    width: 35%;
    margin: auto;
    text-align: center;
    box-shadow: 5px 3px 15px 10px #ebcc31;
    
}
.cardheader{
    margin: auto;
    text-align: center;
}
.form-container{
    margin: 30px;
}