.spacer {
  flex: 1;
}

.toolbarcomp {
  height: 44px;
}

.button-container {
  text-align: right;
  display: flex;
  position: absolute;
  right: 10px;
  top: 5px;
}

.login-button {
  margin-right: 10px;
}
.info{
  background-color: #3F51B5;
  color: white;
}
.dropdown-item{
  color: white;
}
.dropdown-item:hover{
  background-color:white;
  color:  #3F51B5;
}
.profile {
  margin-left: 10px;
  background-color: #3F51B5;
  color: white;
  outline: none;
  border: none;
}

.username {
  margin: 5px;
}

.logo {
  height: 100px;
  display: block;
  width: 30%;
}
