<mat-toolbar color="primary" class="toolbarcomp">
  <div class="button-container">
    <a routerLink="/login" *ngIf="!isLoggedIn">
      <button mat-raised-button class="login-button">Login/Register</button>
    </a>
    <div class="spacer"></div>
    <a routerLink="/createpost">
      <button button color="primary" mat-raised-button>Create a Post</button>
    </a>
    <div *ngIf="isLoggedIn">
      <div ngbDropdown class="btn-group">
        <button button mat-raised-button color="primary"
        class="dropdown-toggle profile"
        ngbDropdownToggle
        aria-expanded="false">Account</button>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Signed in as: <b>{{user.Contact.Email}}</b></a></li>
          <li><a class="dropdown-item" role="button" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</mat-toolbar>
