mat-toolbar {
  justify-content: space-between;
}

.card-button {
  background-color: green;
  color: white;
  font-weight: 600;
  height: 50px;
}

.card-button:hover {
  background-color: #95b7df;

}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

.wrapper {
  max-width: 100%;
  max-height: 100%;
}

img {
  height: 250px;
  width: 100%;
}

.spacer {
  flex: 1;
}

.contact-report {
  margin: 10px;
}

.contact {
  padding: 10px;
}

.report {
  padding: 10px;
}

.filters {
  padding: 30px;
  font-family: 'Franklin Gothic Medium';
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;

}

.filterfield {
  display: inline-block;
}

p + p {
  margin-left: 10px;
}

.mat-elevation-z4 {
  max-height: 500px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 250px;
}

.creation-date {
  font-style: italic;
  text-align: right;
  font-weight: bold;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}

.wrap{
  padding: 10px;
  align-items: right;
  margin-left: 10px;
  width: 100%;
}

#listview {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#listview td, #listview th {
  border: 1px solid #ddd;
  padding: 8px;
}

#listview tr:nth-child(even){background-color: #f2f2f2;}

#listview tr:hover {background-color: #ddd;}

#listview th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4484CE ;
  color: white;
}

.listbutton{
background-color: #4484CE;  
Color: white;
}
.gridbutton{
  background-color:#f9cf00 ;  
  }