<mat-toolbar color="primary">
  <!-- <span class="check">Housing options</span> -->
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 4"></span>
    <span *ngIf="gridColumns === 3"></span>
  </button>
  <span  class="wrap">
  <mat-form-field>
    <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "searchText">
    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>
  </span>
  <span>
    <span class="spacer"></span>
    <div class="pull-left toggleview">
          <div class="btn-group">
              <button class="btn listbutton" id="list" value="1" (click)="changeDisplay(1)">
                  Grid View
              </button>
              <button class="btn gridbutton" id="grid" value="2" (click)="changeDisplay(2)">
                  List View
              </button>
          </div>
      </div>
  </span>
</mat-toolbar>

<!-- <div class="togglebutton">
  <button button mat-raised-button color="primary" value="1" (click)="changeDisplay(1)">Grid</button>
  <button button mat-raised-button color="primary" value="2" (click)="changeDisplay(2)">List</button>
</div> -->




<div class="content" *ngIf="display === 1;else list_content">
  <div fxLayout="row wrap">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of post | filter :searchText ;let index=index;">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{item.Title}}</mat-card-title>

        </mat-card-header>
        <div *ngIf="postImageMap.get(item.ID!); let images">

          <div class="wrapper">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of images">
                <img src="{{image.Url}}">
              </ng-template>
            </ngb-carousel>
          </div>

        </div>
        <mat-card-content>
          <p>
            {{item.Description}}
          </p>
        </mat-card-content>
        <p>Categories : <span><button mat-button>{{getCategoryName(item.CategoryId)}}</button>
                <button mat-button>{{getSubcategoryName(item.SubcategoryId)}}</button>
                </span>
        </p>
        <div class="posted-user">
          Posted by: {{userPost[index].User.Contact.FirstName}}
        </div>
        <div class="creation-date">
          {{item.CreatedAt}}
        </div>
        <mat-card-actions class="center">
          <!--          <button mat-button class="card-button">INFO</button>-->
          <!--          <button mat-button class="card-button">SHARE</button>-->
          <div class="row contact-report">
            <span class="contact"><app-contactform></app-contactform></span>

            <span class="report"><app-reportform></app-reportform></span>
          </div>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #list_content>
<div class="lisr_cotainer">
  <table mdbTable id="listview" >
    <thead class="black white-text">
      <tr>

        <th>Title</th>
        <th>Categories</th>
        <th>Subcategories</th>
        <th>Created At</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of post | filter :searchText ;let index=index;">
        <td>{{item.Title }}</td>
        <td>{{getCategoryName(item.CategoryId)}}</td>
        <td>{{getSubcategoryName(item.SubcategoryId)}}</td>
        <td>{{item.CreatedAt}}</td>
      </tr>
    </tbody>
  </table>

</div>


</ng-template>


<!--<div class="filters row wrap">

  <form>

    <p class="filterfield">Sort by:</p><br>
    <input type="radio" id="lowtohigh" name="sortby" value="lowtohigh">
    <label for="lowtohigh">Low to High</label><br>
    <input type="radio" id="hightolow" name="sortby" value="hightolow">
    <label for="hightolow">High to Low</label><br>
    <input type="radio" id="pictures" name="sortby" value="pictures">
    <label for="pictures">Pictures only</label>
    <br>
    <p class="filterfield">Max - Min : <input type="text" id="max"> - <input type="text" id="min"></p>
    <br>
    <p class="filterfield"> Search : </p>
    <input type="text" id="search" placeholder="Search..."
           [(ngModel)]="filterTerm">
    <br><br>
    <button button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
-->
 <!-- <div class="wrap container">
    <div class="search-hero">
      <p> Search :
      <input type="text" [(ngModel)]="searchText"  class="searchTerm" placeholder="What are you looking for?">
    </p>
    </div>
</div>-->
