
<mat-toolbar color="primary">
    <span class="check">Housing options</span>
    <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4"></span>
      <span *ngIf="gridColumns === 3"></span>
    </button>
  </mat-toolbar>

  <div class="filters row wrap">
  
    <form>
      
      <p class="filterfield">Sort by:</p><br>
  <input type="radio" id="lowtohigh" name="sortby" value="lowtohigh">
  <label for="lowtohigh">Low to High</label><br>
  <input type="radio" id="hightolow" name="sortby" value="hightolow">
  <label for="hightolow">High to Low</label><br>  
  <input type="radio" id="pictures" name="sortby" value="pictures">
  <label for="pictures">Pictures only</label>
<br>
  <p class="filterfield">Max - Min : <input type="text" id="max"> - <input type="text" id="min"></p>
  <br>
  <p class="filterfield"> Search : </p>
  <input type="text" id="search" placeholder="Search..."
      [(ngModel)]="filterTerm">
  <br><br>
  <button button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>

    
<div class="content">
    <div fxLayout="row wrap">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of post;let index=index;">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>{{item.Title}}</mat-card-title>

          </mat-card-header>
          <!-- <img mat-card-image class="card-image" src="assets/images/image.jpeg" alt="House Image" height="400px"> -->
          <div class="wrapper">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of images">
                <div >
                  <img [src]="image.src" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                  <h3>{{ image.title }}</h3>
                  <p>{{ image.short }}</p>

                </div>
              </ng-template>
            </ngb-carousel>


            </div>
          <mat-card-content>
            <p>
              {{item.Description}}
            </p>
          </mat-card-content>
          <p>Categories : <span><button mat-button>Housing</button>
                <button mat-button>Renting</button>
                <button mat-button>Apartments</button></span>
            </p>
            <mat-card-actions class="center">
            <button mat-button class="card-button">INFO</button>
            <button mat-button class="card-button">SHARE</button>
            
            </mat-card-actions>
            <hr>
            <div class="row contact-report">
              <span class="contact"><app-contactform></app-contactform></span>
              
              <span class="report"><app-reportform></app-reportform></span>
            </div>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
    </div>


  <!-- <img mat-card-image class="card-image" src="assets/images/image.jpeg" alt="House Image" height="200px"> -->
